.product-hero{
    background-color:#fa8907;
    border-radius: 3rem;
    height: 18.5rem;
    overflow: hidden;
    position: relative;
    margin-left: .5rem;
    margin-right: .5rem;
 
 }
 .ripple-design{
     align-items: center;
     display: flex;
     justify-content: center;
 }
 .ripple-circle {
     position: absolute;
     border-radius: 50%;
     border: 0.1rem solid #ffffffb6;  }
   
   .very-small {
     width: 6rem;
     height: 6rem;
     filter: blur(2px);
     background-color: #fb9a61;
   }
   
   .small {
     width: 15rem;
     height: 15rem;
   }
   
   .medium {
     width: 23rem;
     height: 23rem;
   }
   
   .large {
     width: 31rem;
     height: 31rem;
   }
   
   .shade0 {
    opacity: 1;
   }
   
   .shade1 , .shade2, .shade3{
    opacity: .4;
   }
