body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #f8d4bd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem !important;
}

.fixed-top {
  position: relative;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 1030 !important;
}

.brand-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo {
  background-color: #f8f6f2;
  border-radius: 50%;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  color: #000;
  font-size: 0.8rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.dots {
  display: flex;
  flex-wrap: wrap !important;
  align-items: center;
  justify-content: center;
  font-size: x-small;
  text-decoration: none !important;
}

.first-dot {
  color: gray;
}

.dots > div {
  flex: 50% 1;
  text-align: center;
}

.brand-name {
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 0.5rem;
  color: #333;
  text-decoration: none !important;
  cursor: pointer;
}

.brand-name > p {
  padding-top: 0.8rem;
}

.nav-links {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly;
}

.nav-link {
  font-size: 1.2rem !important;
  font-weight: 700;
  margin-left: 2.5rem;
}

.active {
  color: #9d3615;
}

.nav-item {
  text-decoration: none;
  color: #000 !important;
}

.active {
  text-decoration: none !important;
  color: #9d3615 !important;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.add-to-cart {
  align-items: center;
  background-color: #f8f6f2;
  border-radius: 50%;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  justify-content: center;
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  /* Adjustments for smaller screens */

  .navbar {
    flex-direction: column;
    padding: 1rem;
    
  }

  .brand-logo {
    margin-bottom: -1rem;
  }

  .logo, .brand-name {
    font-size: 1rem;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 1rem;
 
  }

  .nav-link {
    margin: 0.5rem 0;
    font-size: 1rem !important;
    margin-left: 0;
    margin-left: 1rem;
  }
}